
Inheritance/Inheritance/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
*.cache
Inheritance/Inheritance/obj/Inheritance.csproj.nuget.dgspec.json
Inheritance/Inheritance/obj/Debug/net5.0/Inheritance.GeneratedMSBuildEditorConfig.editorconfig
Inheritance/Inheritance/obj/Inheritance.csproj.nuget.g.targets
Inheritance/Inheritance/obj/project.assets.json
Inheritance/Inheritance/obj/Inheritance.csproj.nuget.g.props
Inheritance/Inheritance/obj/Debug/net5.0/Inheritance.AssemblyInfo.cs
Inheritance/Inheritance/Inheritance.csproj
/Inheritance/Inheritance/bin/Debug/net5.0
/Inheritance/Inheritance/obj/Debug/net5.0
/Inheritance/InheritanceUnitTestBase/bin/Debug/net5.0
/Inheritance/InheritanceUnitTestBase/obj
/Inheritance/InhertanceMain/bin/Debug/net5.0
/Inheritance/InhertanceMain/obj
/Inheritance/.vs/Inheritance/v16/TestStore/0
