
Inheritance/Inheritance/obj/Debug/net5.0/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
*.cache
Inheritance/Inheritance/obj/Inheritance.csproj.nuget.dgspec.json
Inheritance/Inheritance/obj/Debug/net5.0/Inheritance.GeneratedMSBuildEditorConfig.editorconfig
Inheritance/Inheritance/obj/Inheritance.csproj.nuget.g.targets
Inheritance/Inheritance/obj/project.assets.json
Inheritance/Inheritance/obj/Inheritance.csproj.nuget.g.props
Inheritance/Inheritance/obj/Debug/net5.0/Inheritance.AssemblyInfo.cs
Inheritance/Inheritance/Inheritance.csproj
